@import '../../styles/_mixin.scss';



.main {
    display: flex;

    .container {
        height: calc(100vh - 60px) ;
        background-color: color(ap_lite_black);
        padding: 20px;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 60px;

        .icons {
            padding-bottom: 30px;
        }
        .log_out_btn{
           z-index: 9999;
        }
    }

    main {
        margin-left: 60px; 
        width: calc(100% - 60px); 
        padding-top: 60px; // Add padding-top to avoid content going under the header
        height: calc(100vh - 60px); // Adjust height to fit within viewport
        position: relative;
        overflow: auto; // Optional: Add scroll if content overflows
    }
    
    .left {
        height: 100%; // Adjust to full height since main already considers the header height
    }
}
