@import '../../styles/_mixin.scss';

.container {
    background-color: color(ap_lite_black);
    width: 100%;
    padding: 0px 20px;
    position: fixed;
    z-index: 99999;
    height: 60px;
    align-items: center;
    display: flex;

}