* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

@font-face {
    font-family: Urbanist-Bold;
    src: url("../src/assets/fonts/static/Urbanist-Bold.ttf");
  }
  
  @font-face {
    font-family:Urbanist-Medium;
    src: url("../src/assets/fonts/static/Urbanist-Medium.ttf");
  }
  
  @font-face {
    font-family: Urbanist-Light;
    src: url("../src/assets/fonts/static/Urbanist-Light.ttf");
  }
  
  @font-face {
    font-family: Urbanist-SemiBold;
    src: url("../src/assets/fonts/static/Urbanist-SemiBold.ttf");
  }
  
  @font-face {
    font-family:Urbanist-Thin ;
    src: url("../src/assets/fonts/static/Urbanist-Thin.ttf");
  }
  @font-face {
    font-family:Urbanist-Regular ;
    src: url("../src/assets/fonts/static/Urbanist-Regular.ttf");
  }
